@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1b2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/premium-photo/electric-frame-neon-light-background-blur-pink-cyan-blue-yellow-color-gradient-glowing-rectangle-dark-black-geometric-abstract-copy-space_1028938-453317.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}